.navbar-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 15px;
}
.navbar-header h2, .navbar-header .navigation{    
    margin: 0;
    width: 50%;
    padding: 0 25px;
}
.navbar-header h2{
    text-align: end;
}
.navbar-header ol.breadcrumb{
    margin: 0;
}

.color-secondary{
    color: #6c757d !important;
}
.content{
    margin: 0 25px;
}
.alert-dismissable{
    padding: 15px;
    margin: 25px 50px;
}

ul.pagination{
    margin: 0;
}

.my-0{
    margin-top: 0;
    margin-bottom: 0;
}

.mb-3{
    margin-bottom: 15px;
}

.action-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-buttons > a, .action-buttons > form > button{
    border-radius: 10px;
    margin-right: 5px;
}

.login-box-body{
    border-radius: 14px!important;
}

.login-box-msg{
   font-size: 20px;
}

.login-title{
    color: white!important;
}