button{
    border-radius: 8px!important;
}

.actions-buttons{
    display: flex!important;
    justify-content: center;

}

.login-box-body{
    border-radius: 14px!important;
}

.login-box-msg{
   font-size: 20px;
}

.login-title{
    color: white!important;
}

